.custom-button{
    border: none;
    border-radius: 3px;
    padding: 3px 14px;
    background-color: rgba(29, 210, 98, 0.345);
}
.custom-button:hover{
    background: none;
    border: 2px solid black;
}
.single
{
    width: 50%;
}
.circular{
    width: 40%;
}
.media{
    display: flex;
}
